<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>歌单列表</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="../static/js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
    <meta charset="utf-8"/>
    <script>
        //文字点击查看更多
        $(function () {
            var o = document.getElementById("hutia");
            Subt(o);
        })();
        function Subt(obj) {
            var s = obj.innerHTML;
            var p = document.createElement("span");
            var n = document.createElement("a");
            p.innerHTML = s.substring(0, 60);
            p.style.color = "#999";
            n.innerHTML = s.length > 60 ? "...{查看详情}" : "";
            n.href = "###";
            n.style.color = "#333";
            n.onclick = function () {
                if (n.innerHTML == "...{查看详情}") {
                    n.innerHTML = "{收起详情}";
                    p.innerHTML = s;
                } else {
                    n.innerHTML = "...{查看详情}";
                    p.innerHTML = s.substring(0, 60);
                }
            };
            obj.innerHTML = "";
            obj.appendChild(p);
            obj.appendChild(n);
        }

    </script>
</head>
<body>
<div class="warp">
    <!--main=========================-->
    <section>
        <!--左-->
        <aside class="left">
            <ul class="left_ul">
                <li class="details">
                    <h4>我的管理</h4>
                </li>
                <li><a href="#" th:href="@{/myshop}"><s class="S_xxjs_1"></s>我的店铺</a></li>
                <li><a href="#"><s class="S_xxjs_2"></s>我的盒子</a></li>
                <li><a href="#" th:href="@{/favorite}"><s class="S_xxjs_3"></s>我的收藏</a></li>
                <li><a href="#" th:href="@{/plan}"><s class="S_xxjs_4"></s>播放计划</a></li>
                <li><a href="#" th:href="@{/spot}"><s class="S_xxjs_5"></s>插播计划</a></li>
                <li class="details">
                    <h4>场景业态</h4>
                </li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_6"></s>购物中心</a></li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_7"></s>超市</a></li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_8"></s>餐饮</a></li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_9"></s>服饰</a></li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_10"></s>酒店</a></li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_11"></s>奢侈品</a></li>
            </ul>
        </aside>
        <!--右-->
        <article class="right">
            <div class="Menu">
                <dl class="zhuti_menu">
                    <dt><a href=""><img src="images/img_1.jpg"/></a></dt>
                    <dd class="icon_bg"></dd>
                    <dd class="icon_dd"><i class="icon"></i><span>4万</span></dd>
                </dl>
                <div class="Menu_you">
                    <div class="Menu_p">
                        <h4>服装促销季</h4>
                        <p style=" float:left; margin-top:5px;"><i class="mu_1"></i><span class="num">20</span> <i
                                class="mu_1 mu_2"></i><span class="num">122222</span></p>
                        <input class="Btn_A Btn_c" name="" type="button" value="收藏"/>
                    </div>
                    <div class="sc_div">
                        <div id="hutia"><i>简介：</i>这次制作的歌单是续上一歌单而制作的，每一首音乐都在一个小时以上，听起来很是享受，特别是您在行车的途中，听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐,听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐,听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐
                        </div>
                        <!--	<p id="sc_div_p"><span id="osp">简介：这次制作的歌单是续上一歌单而制作的，每一首音乐都在一个小时以上，听起来很是享受，特别是您在行车的途中，听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐,听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐,听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐,</span><a id="ckxq" href="#" style="color:#333;">｛查看详情 ｝</a></p>-->
                    </div>
                </div>
            </div>
            <div id="buyact" class="row790">
                <div class="thead">
                    <ul class="tab0">
                        <li class="index"><span>歌曲列表</span></li>
                    </ul>
                </div>
                <div class="tbody">
                    <div class="block">
                        <div class="grzlk_tr">
                            <ul class="grzlk_ul">
                                <li>歌名</li>
                                <li>歌手</li>
                                <li>专辑</li>
                                <li class="w566">时长</li>
                                <li class="w566">操作</li>
                            </ul>
                            <ul class="grzlk_ul">
                                <li>Unkiss Me</li>
                                <li>Maroon 5</li>
                                <li>V (Deluxe)</li>
                                <li class="w566">04:32</li>
                                <li class="w566 w577"><a href="#" class="down_1"></a><a href="#"
                                                                                        class="down_1 down_2"></a></li>
                            </ul>
                            <ul class="grzlk_ul">
                                <li>Unkiss Me</li>
                                <li>Maroon 5</li>
                                <li>V (Deluxe)</li>
                                <li class="w566">04:32</li>
                                <li class="w566 w577"><a href="#" class="down_1"></a> <a href="#"
                                                                                         class="down_1 down_2"></a></li>
                            </ul>
                            <ul class="grzlk_ul">
                                <li>Unkiss Me</li>
                                <li>Maroon 5</li>
                                <li>V (Deluxe)</li>
                                <li class="w566">04:32</li>
                                <li class="w566 w577"><a href="#" class="down_1"></a> <a href="#"
                                                                                         class="down_1 down_2"></a></li>
                            </ul>
                            <ul class="grzlk_ul">
                                <li>Unkiss Me</li>
                                <li>Maroon 5</li>
                                <li>V (Deluxe)</li>
                                <li class="w566">04:32</li>
                                <li class="w566 w577"><a href="#" class="down_1"></a><a href="#"
                                                                                        class="down_1 down_2"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <!--footer=========================-->
    <footer>
        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
            <div class="jp-type-playlist">
                <div class="jp-gui jp-interface">
                    <div class="jp-controls">
                        <button class="jp-previous" role="button" tabindex="0">previous</button>
                        <button class="jp-play" role="button" tabindex="0">play</button>
                        <button class="jp-next" role="button" tabindex="0">next</button>
                    </div>
                    <div style="position: absolute;left: 210px;top: 0px; font-size: 12px; padding: 1px;">
                        <dl class="play_2_dl">
                            <dt>
                                <img class="tx_img" src="images/img_1.jpg" style="width: 52px; height: 52px;"/>
                            </dt>
                            <dt>晨醒</dt>
                        </dl>
                    </div>
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>
                    <div class="jp-time-holder" style="font-size: 14px; color: #979797">
                        <div style="float: left;">Hostital flowers--中文 City</div>
                        <div style="float: right; width: 100px;">
                            <div class="jp-current-time" role="timer" aria-label="time"></div>
                            <div style="float: left; top: 20px;">/</div>
                            <div class="jp-duration" role="timer" aria-label="duration"></div>
                        </div>
                    </div>
                    <div class="jp-volume-controls">
                        <button class="jp-mute" role="button" tabindex="0">mute</button>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>
                    </div>
                    <div style="position: absolute;left: 870px;top: 0px; font-size: 12px; padding: 1px;">
                        <div class="di1" id="nav">
                            <ul class="play_4_ul">
                                <li><a href="#" class="btn_5"></a>
                                    <div class="sub" style="left:5px;">
                                        <ul class="hechang">
                                            <li><a href="#" class="btn_7"></a></li>
                                            <li><a href="#" class="btn_8"></a></li>
                                            <li><a href="#" class="btn_9"></a></li>
                                        </ul>
                                        <div class="yinliang"><a href="#" class="btn_5 btn_04"></a></div>
                                        <div class="di"><img src="images/di.png"/></div>
                                    </div>
                                </li>
                                <li><a href="#" class="btn_6"></a><span class="num num_1">10</span>
                                    <div class="sub option_3">
                                        <div class="liedui_top">
                                            <h4 class="lie_h4">播放列队（共10首歌）</h4>
                                            <i class="delete"></i>
                                        </div>
                                        <div class="jp-playlist">
                                            <ul>
                                                <li>&nbsp;</li>
                                            </ul>
                                        </div>
                                        <div class="di di_1"><img src="images/di.png"/></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!--遮罩=====-->
<div id="fade" class="black_overlay"></div>
</body>
</html>