<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>歌单列表</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="../static/js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
    <meta charset="utf-8"/>
    <script>
        //文字点击查看更多
        $(function () {
            var o = document.getElementById("hutia");
            Subt(o);
        })();
        function Subt(obj) {
            var s = obj.innerHTML;
            var p = document.createElement("span");
            var n = document.createElement("a");
            p.innerHTML = s.substring(0, 60);
            p.style.color = "#999";
            n.innerHTML = s.length > 60 ? "...{查看详情}" : "";
            n.href = "###";
            n.style.color = "#333";
            n.onclick = function () {
                if (n.innerHTML == "...{查看详情}") {
                    n.innerHTML = "{收起详情}";
                    p.innerHTML = s;
                } else {
                    n.innerHTML = "...{查看详情}";
                    p.innerHTML = s.substring(0, 60);
                }
            };
            obj.innerHTML = "";
            obj.appendChild(p);
            obj.appendChild(n);
        }

    </script>
</head>
<body>
<div class="warp">
    <!--main=========================-->
    <section>
        <!--左-->
        <aside class="left">
            <ul class="left_ul">
                <li class="details">
                    <h4>我的管理</h4>
                </li>
                <li><a href="#" th:href="@{/myshop}"><s class="S_xxjs_1"></s>我的店铺</a></li>
                <li><a href="#"><s class="S_xxjs_2"></s>我的盒子</a></li>
                <li><a href="#" th:href="@{/favorite}"><s class="S_xxjs_3"></s>我的收藏</a></li>
                <li><a href="#" th:href="@{/plan}"><s class="S_xxjs_4"></s>播放计划</a></li>
                <li><a href="#" th:href="@{/spot}"><s class="S_xxjs_5"></s>插播计划</a></li>
                <li class="details">
                    <h4>场景业态</h4>
                </li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_6"></s>购物中心</a></li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_7"></s>超市</a></li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_8"></s>餐饮</a></li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_9"></s>服饰</a></li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_10"></s>酒店</a></li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_11"></s>奢侈品</a></li>
            </ul>
        </aside>
        <!--右-->
        <article class="right">
            <div class="Menu">
                <dl class="zhuti_menu">
                    <dt><a href=""><img src="images/img_1.jpg"/></a></dt>
                    <dd class="icon_bg"></dd>
                    <dd class="icon_dd"><i class="icon"></i><span>4万</span></dd>
                </dl>
                <div class="Menu_you">
                    <div class="Menu_p">
                        <h4>服装促销季</h4>
                        <p style=" float:left; margin-top:5px;"><i class="mu_1"></i><span class="num">20</span> <i
                                class="mu_1 mu_2"></i><span class="num">122222</span></p>
                        <input class="Btn_A Btn_c" name="" type="button" value="收藏"/>
                    </div>
                    <div class="sc_div">
                        <div id="hutia"><i>简介：</i>这次制作的歌单是续上一歌单而制作的，每一首音乐都在一个小时以上，听起来很是享受，特别是您在行车的途中，听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐,听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐,听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐
                        </div>
                        <!--	<p id="sc_div_p"><span id="osp">简介：这次制作的歌单是续上一歌单而制作的，每一首音乐都在一个小时以上，听起来很是享受，特别是您在行车的途中，听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐,听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐,听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐,</span><a id="ckxq" href="#" style="color:#333;">｛查看详情 ｝</a></p>-->
                    </div>
                </div>
            </div>
            <div id="buyact" class="row790">
                <div class="thead">
                    <ul class="tab0">
                        <li class="index"><span>歌曲列表</span></li>
                    </ul>
                </div>
                <div class="tbody">
                    <div class="block">
                        <div class="grzlk_tr">
                            <ul class="grzlk_ul">
                                <li>歌名</li>
                                <li>歌手</li>
                                <li>专辑</li>
                                <li class="w566">时长</li>
                                <li class="w566">操作</li>
                            </ul>
                            <ul class="grzlk_ul">
                                <li>Unkiss Me</li>
                                <li>Maroon 5</li>
                                <li>V (Deluxe)</li>
                                <li class="w566">04:32</li>
                                <li class="w566 w577"><a href="#" class="down_1"></a><a href="#"
                                                                                        class="down_1 down_2"></a></li>
                            </ul>
                            <ul class="grzlk_ul">
                                <li>Unkiss Me</li>
                                <li>Maroon 5</li>
                                <li>V (Deluxe)</li>
                                <li class="w566">04:32</li>
                                <li class="w566 w577"><a href="#" class="down_1"></a> <a href="#"
                                                                                         class="down_1 down_2"></a></li>
                            </ul>
                            <ul class="grzlk_ul">
                                <li>Unkiss Me</li>
                                <li>Maroon 5</li>
                                <li>V (Deluxe)</li>
                                <li class="w566">04:32</li>
                                <li class="w566 w577"><a href="#" class="down_1"></a> <a href="#"
                                                                                         class="down_1 down_2"></a></li>
                            </ul>
                            <ul class="grzlk_ul">
                                <li>Unkiss Me</li>
                                <li>Maroon 5</li>
                                <li>V (Deluxe)</li>
                                <li class="w566">04:32</li>
                                <li class="w566 w577"><a href="#" class="down_1"></a><a href="#"
                                                                                        class="down_1 down_2"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <!--footer=========================-->
    <footer>
        <div class="play_1">
            <ul class="play_1_ul">
                <li><a href="" class="btn_1"></a></li>
                <!--暂停播放按钮-->
                <!--<li><a href="" class="btn_2 btn_zt"></a></li>-->
                <!--播放按钮-->
                <li><a href="" class="btn_2"></a></li>
                <li><a href="" class="btn_3"></a></li>
            </ul>
        </div>
        <div class="play_2">
            <dl class="play_2_dl">
                <!--注意：当未登录时显示产品logo，登录之后显示用户头像*******************************-->
                <!--logo-->
                <!--<dt><img class="logo_sm" src="images/logo.png"></dt>-->
                <!--头像-->
                <dt><img class="tx_img" src="images/img_1.jpg"/>
                <p>晨醒</p>
                </dt>
                <dd class="tx_bg"></dd>
            </dl>
        </div>
        <!--正在播放时的状态-->
        <div class="play_3">
            <div class="Name">
                <p>Hostital flowers--中文 City</p>
                <time>02：44/4：44</time>
            </div>
            <div class="jindu">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                     aria-valuemax="100" style="width:40%;"></div>
                <a href="##" class="progress_scrile"></a></div>
        </div>
        <!--没有播放时的状态-->
        <!--<div class="play_3">
                <div class="Name">
                        <p></p>
                        <time>00：00/00：00</time>
                </div>
                <div class="jindu">
                        <a href="##" class="progress_scrile"></a>
                </div>
        </div>-->

        <div class="play_4">
            <div class="di1" id="nav">
                <ul class="play_4_ul">
                    <li><a href="##" class="btn_4"></a>
                        <div class="sub" style="left:-22px;">
                            <div class="video_01">
                                <div class="progress-bar progress_info" role="progressbar" aria-valuenow="20"
                                     aria-valuemin="0" aria-valuemax="100" style="height:60%;"></div>
                                <a href="##" class="progress_scrile progress_1"></a></div>
                            <div class="yinliang"><a href="##" class="btn_4 btn_04"></a></div>
                            <div class="di"><img src="images/di.png"/></div>
                        </div>
                    </li>
                    <li><a href="##" class="btn_5"></a>
                        <div class="sub" style="left:5px;">
                            <ul class="hechang">
                                <li><a href="##" class="btn_7"></a></li>
                                <li><a href="##" class="btn_8"></a></li>
                                <li><a href="##" class="btn_9"></a></li>
                            </ul>
                            <div class="yinliang"><a href="##" class="btn_5 btn_04"></a></div>
                            <div class="di"><img src="images/di.png"/></div>
                        </div>
                    </li>
                    <li><a href="##" class="btn_6"></a><span class="num num_1">12</span>
                        <div class="sub option_3">
                            <div class="liedui_top">
                                <h4 class="lie_h4">播放列队（共10首歌）</h4>
                                <i class="delect">ee</i></div>
                            <div class="liedui_mian">
                                <ul class="liedui_ul">
                                    <li><a href="">忽然之间忽然之间忽然之间忽然之间忽然之间忽然之间-杨乃文</a><span>4：38</span></li>
                                    <li class="sele"><a href="">忽然之间-杨乃文</a><span><i class="bf_1"></i><i
                                            class="bf_1 bf_2"></i></span></li>
                                    <li><a href="">忽然之间-杨乃文</a><span>4：38</span></li>
                                    <li class="now"><a href="">忽然之间-杨乃文</a><span>4：38</span></li>
                                </ul>
                            </div>
                            <div class="di di_1"><img src="images/di.png"/></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<!--遮罩=====-->
<div id="fade" class="black_overlay"></div>
</body>
</html>