<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>试听首页</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../static/css/jplayer.blue.monday.css" th:href="@{/css/jplayer.blue.monday.css}"/>
    <script src="../static/js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
    <script src="../static/js/jquery.jplayer.js" th:src="@{/js/jquery.jplayer.js}"></script>
    <script src="../static/js/jplayer.playlist.js" th:src="@{/js/jplayer.playlist.js}"></script>
    <meta charset="utf-8"/>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            new jPlayerPlaylist({
                jPlayer: "#jquery_jplayer_1",
                cssSelectorAncestor: "#jp_container_1"
            }, [
                {
                    title: "Cro Magnon Man",
                    mp3: "http://127.0.0.1:9000/CloudMusic/李逸朗 - 化身孤岛的鲸.mp3",
                    duration: "4:28"
                },
                {
                    title: "Your Face",
                    mp3: "http://127.0.0.1:9000/CloudMusic/李逸朗 - 化身孤岛的鲸.mp3",
                    duration: "4:35"
                },
                {
                    title: "Your Face",
                    mp3: "http://127.0.0.1:9000/CloudMusic/李逸朗 - 化身孤岛的鲸.mp3",
                    duration: "4:35"
                }
            ], {
                swfPath: "js",
                supplied: "oga, mp3",
                wmode: "window",
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true
            });

            findChannel();
        });

        var musicList = new Array(); // 歌曲列表
        function Music(id, title, mp3, duration, volume, position){
            this.id = id;
            this.title = title;
            this.mp3 = mp3;
            this.duration = duration;
            this.volume = volume;
            this.position = position;
        }

        function playMusic(channelId) {
            musicList.slice(0, musicList.length);

        }


        function showShop() {
            $(".right div").remove();
            $(".right").append($(".supper"));
            $(".supper").css("display", "block");
        }

        function findFavorite() {
            $.ajax({
                type: "POST",
                url: "/favorite",
                data: {},
                dataType: "json",
                success: function (data) {
                    $("#myFavorite .block").children().remove();
                    if (data.musicList.length == 0) {
                        $("#myFavorite .block").append("<div class='Wu'></div>");
                    } else {
                        $("#myFavorite .block").append($("#favoriteMusicButton"));
                        $("#favoriteMusicButton").css("display", "block");
                        var musicDiv = $("<div></div>");
                        musicDiv.addclass("grzlk_tr");
                        musicDiv.append("<ul class='grzlk_ul grzlk_pd'><li>歌名</li><li>歌手</li><li>专辑</li><li class='w566'>时长</li>");
                        for (var i = 0; i < data.musicList.length; i++) {
                            var str = "<ul class='grzlk_ul grzlk_pd'><li>";
                            str += data.musicList[i].musicName;
                            str += "</li><li>";
                            str += data.musicList[i].actor;
                            str += "</li><li>";
                            str += data.musicList[i].special;
                            str += "</li><li class='w566'>";
                            str += data.musicList[i].duration;
                            str += "</li>";
                            musicDiv.append(str);
                        }
                        musicDiv.appendTo($("#myFavorite .block"));
                    }

                    $("#myFavorite .none").children().remove();
                    if (data.channelList.length == 0) {
                        $("#myFavorite .none").append("<div class='Wu'></div>");
                    } else {
                        $("#myFavorite .none").append($("#favoriteChannelButton"));
                        $("#favoriteChannelButton").css("display", "block");
                        for (var i = 0; i < data.channelList.length; i++) {
                            var str = "<dl class='Style Style_xin'>";
                            str += "<dt class='ash_mo'><a href=''><img src='" + data.channelList[i].photoPath + "'/></a></dt>";
                            str += "<dd class='ashow'></dd>";
                            str += "<dd class='Text'>" + data.channelList[i].channelName + "</dd>";
                            $("#myFavorite .none").append(str);
                        }
                    }
                    $(".right div").remove();
                    $(".right").append($("#myFavorite"));
                    $("#myFavorite").css("display", "block");
                }
            });
        }
        
        function findChannel(scene) {
            $.ajax({
                type: "POST",
                url: "/channel",
                data: {
                    scene:scene
                },
                dataType: "json",
                success: function (data) {
                    $("#ztc").children().remove(); // 主题
                    $("#fgc").children().remove(); // 风格
                    $("#jrc").children().remove(); // 节日
                    if (data.festival.length != 0) {
                        for (var i = 0; i < data.festival.length; i++) {
                            var str = "<dl class='zhuti' onclick='findMusic(" + data.festival[i] + ")'>";
                            str += "<dt><a href='#'><img src='images/img_1.jpg'/></a></dt>";
                            str += "<dd class='icon_bg'></dd>";
                            str += "<dd class='icon_dd'><i class='icon'></i><span>4万</span></dd>";
                            str += "<dd class='Text'>" + data.festival[i].channelName + "</dd>";
                            str += "<dd class='Play'><img src='images/play.png'/></dd>";
                            str += "</dl>";
                            $("#jrc").append(str);
                        }
                    }
                    if (data.theme.length != 0) {
                        for (var i = 0; i < data.theme.length; i++) {
                            var str = "<dl class='zhuti' onclick='findMusic(" + data.theme[i] + ")'>";
                            str += "<dt><img src='images/img_1.jpg'/></dt>";
                            str += "<dd class='icon_bg'></dd>";
                            str += "<dd class='icon_dd'><i class='icon'></i><span>4万</span></dd>";
                            str += "<dd class='Text'>" + data.theme[i].channelName + "</dd>";
                            str += "<dd class='Play'><img src='images/play.png'/></dd>";
                            str += "</dl>";
                        }
                    }

                    if (data.manner.length != 0) {
                        for (var i = 0; i < data.manner.length; i++) {
                            var str = "<dl class='Style Style_xin' onclick='findMusic(" + data.manner[i] + ")'>";
                            str += "<dt class='ash_mo'><a href='#'><img src='images/img_1.jpg'/></a></dt>";
                            str += "<dd class='ashow'></dd>";
                            str += "<dd class='Text'>" + data.manner[i].channelName + "</dd>";
                            str += "</dl>";
                        }
                    }
                    $(".right div").remove();
                    $(".right").append($("#cl"));
                    $("#cl").css("display", "block");
                }
            });
        }

        function findMusic(channel) {
            $("#myChannel .channelName").innerHTML(channel.channelName);
            $("#myChannel .profile").innerHTML(channel.remarks);
            $("#myChannel .grzlk_tr").children().remove();
            $("#myChannel .grzlk_tr").append("<ul class='grzlk_ul'><li>歌名</li><li>歌手</li><li>专辑</li><li class='w566'>时长</li><li class='w566'>操作</li></ul>");
            $.ajax({
                type: "POST",
                url: "/music",
                data: {
                    channelId:channel.id
                },
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var str = "<ul class='grzlk_ul'>";
                        str += "<li>" + data[i].musicName + "</li>";
                        str += "<li>" + data[i].actor + "</li>";
                        str += "<li>" + data[i].special + "</li>";
                        str += "<li class='w566'>" + data[i].duration + "</li>";
                        str += "<li class='w566 w577'><a href='#' class='down_1'></a><a href='#' class='down_1 down_2'></a></li>";
                        $("#myChannel .grzlk_tr").append(str);
                    }
                }
            });
            $(".right div").remove();
            $(".right").append($("#myChannel"));
            $("#myChannel").css("display", "block");
        }

        /*]]>*/
    </script>
</head>
<body th:inline="text">
<!-- 店铺信息 -->
<div class="supper" style="display: none;">
    <ul class="supper_ul">
        <li th:text="|店铺地址：${config.address}|">店铺地址：太平鸟男装（北京三里屯店）</li>
        <li th:text="|营业时间：${config.businessHoursBegin} - ${config.businessHoursEnd}|">营业时间：9：00-22：00</li>
        <li th:text="|店长：${config.shopOwnerName}|">店长：王聪</li>
        <li th:text="|联系电话：${config.phoneNumber}|">联系电话：898989891</li>
    </ul>
</div>

<!-- 我的收藏 -->
<div id="favoriteMusicButton" class="sc_Btn" style="display: none;">
    <input class="Btn_A Btn_B" type="button" value="播放全部"/>
    <input class="Btn_A" type="button" value="批量删除" onclick="ShowDiv('TK2','fade')"/>
</div>
<div id="favoriteChannelButton" class="sc_Btn" style="display: none;">
    <input class="Btn_A" type="button" value="批量删除" onclick="ShowDiv('TK3','fade')"/>
</div>
<div id="myFavorite" style="display: none;">
    <div class="wdcbjh">
        <h3>收藏<br/>我喜欢的歌</h3>
    </div>
    <div class="row790">
        <div class="thead">
            <ul class="tab0">
                <li class="index"><span>歌曲列表</span></li>
                <li><span>频道列表</span></li>
            </ul>
        </div>
        <div class="tbody">
            <!--歌曲列表-->
            <div class="block"></div>
            <!--频道列表-->
            <div class="none"></div>
        </div>
    </div>
</div>
<!-- 频道列表 -->
<div id="cl" class="row790" style="display: none;">
    <div class="thead">
        <ul class="tab0">
            <li class="index"><span>主题</span></li>
            <li><span>风格</span><i class="redsc"></i></li>
            <li><span>节日</span></li>
        </ul>
    </div>
    <div class="tbody">
        <!--主题-->
        <div class="block" id="ztc">
            <dl class="zhuti" onclick="window.location.href='/channel'">
                <dt><img src="images/img_1.jpg"/></dt>
                <dd class="icon_bg"></dd>
                <dd class="icon_dd"><i class="icon"></i><span>4万</span></dd>
                <dd class="Text">下之歌</dd>
                <dd class="Play"><img src="images/play.png"/></dd>
            </dl>
        </div>
        <!--风格-->
        <div class="none" id="fgc">
            <dl class="Style Style_xin" onclick="window.location.href='/channel'">
                <dt class="ash_mo"><a href="#"><img src="images/img_1.jpg"/></a></dt>
                <dd class="ashow"></dd>
                <dd class="Text">下之歌</dd>
            </dl>
        </div>
        <!--节日-->
        <div class="none" id="jrc">
            <dl class="zhuti" onclick="window.location.href='/channel'">
                <dt><a href="#"><img src="images/img_1.jpg"/></a></dt>
                <dd class="icon_bg"></dd>
                <dd class="icon_dd"><i class="icon"></i><span>4万</span></dd>
                <dd class="Text">下之歌</dd>
                <dd class="Play"><img src="images/play.png"/></dd>
            </dl>
        </div>
    </div>
</div>
<!-- 频道主页 -->
<div id="myChannel" style="display: none;">
    <div class="Menu">
        <dl class="zhuti_menu">
            <dt><a href="#"><img src="images/img_1.jpg"/></a></dt>
            <dd class="icon_bg"></dd>
            <dd class="icon_dd"><i class="icon"></i><span>4万</span></dd>
        </dl>
        <div class="Menu_you">
            <div class="Menu_p">
                <h4 class="channelName">服装促销季</h4>
                <p style="float:left; margin-top:5px;"><i class="mu_1"></i><span class="num">20</span><i class="mu_1 mu_2"></i><span class="num">122222</span></p>
                <input class="Btn_A Btn_c" type="button" value="收藏"/>
            </div>
            <div class="sc_div">
                <div id="hutia" class="profile">
                    <i>简介：</i>这次制作的歌单是续上一歌单而制作的，每一首音乐都在一个小时以上，听起来很是享受，特别是您在行车的途中，听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐,听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐,听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐
                </div>
            </div>
        </div>
    </div>
    <div id="buyact" class="row790">
        <div class="thead">
            <ul class="tab0">
                <li class="index"><span>歌曲列表</span></li>
            </ul>
        </div>
        <div class="tbody">
            <div class="block">
                <div class="grzlk_tr">
                    <ul class="grzlk_ul">
                        <li>歌名</li>
                        <li>歌手</li>
                        <li>专辑</li>
                        <li class="w566">时长</li>
                        <li class="w566">操作</li>
                    </ul>
                    <ul class="grzlk_ul">
                        <li>Unkiss Me</li>
                        <li>Maroon 5</li>
                        <li>V (Deluxe)</li>
                        <li class="w566">04:32</li>
                        <li class="w566 w577"><a href="#" class="down_1"></a><a href="#" class="down_1 down_2"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="warp">
    <!--main=========================-->
    <section>
        <!--左-->
        <aside class="left">
            <ul class="left_ul">
                <li class="details">
                    <h4>我的管理</h4>
                </li>
                <li><a href="javascript:showShop();"><s class="S_xxjs_1"></s>我的店铺</a></li>
                <li><a href="#"><s class="S_xxjs_2"></s>我的盒子</a></li>
                <li><a href="javascript:findFavorite();"><s class="S_xxjs_3"></s>我的收藏</a></li>
                <li><a href="#" th:href="@{/plan}"><s class="S_xxjs_4"></s>播放计划</a></li>
                <li><a href="#" th:href="@{/spot}"><s class="S_xxjs_5"></s>插播计划</a></li>
                <li class="details">
                    <h4>场景业态</h4>
                </li>
                <li th:each="scene:${sceneList}"><s class="S_xxjs_6" style="float: left"></s><a href="#" th:onclick="'javascript:findChannel(\'' + ${scene} + '\');'" th:text="${scene}"></a></li>
            </ul>
        </aside>
        <!--右-->
        <article class="right"></article>
    </section>
    <!--footer=========================-->
    <footer>
        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
            <div class="jp-type-playlist">
                <div class="jp-gui jp-interface">
                    <div class="jp-controls">
                        <button class="jp-previous" role="button" tabindex="0">previous</button>
                        <button class="jp-play" role="button" tabindex="0">play</button>
                        <button class="jp-next" role="button" tabindex="0">next</button>
                    </div>
                    <div style="position: absolute;left: 210px;top: 0px; font-size: 12px; padding: 1px;">
                        <dl class="play_2_dl">
                            <dt>
                                <img class="tx_img" src="images/img_1.jpg" style="width: 52px; height: 52px;"/>
                            </dt>
                            <dt>晨醒</dt>
                        </dl>
                    </div>
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>
                    <div class="jp-time-holder" style="font-size: 14px; color: #979797">
                        <div style="float: left;">Hostital flowers--中文 City</div>
                        <div style="float: right; width: 100px;">
                            <div class="jp-current-time" role="timer" aria-label="time"></div>
                            <div style="float: left; top: 20px;">/</div>
                            <div class="jp-duration" role="timer" aria-label="duration"></div>
                        </div>
                    </div>
                    <div class="jp-volume-controls">
                        <button class="jp-mute" role="button" tabindex="0">mute</button>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>
                    </div>
                    <div style="position: absolute;left: 870px;top: 0px; font-size: 12px; padding: 1px;">
                        <div class="di1" id="nav">
                            <ul class="play_4_ul">
                                <li><a href="#" class="btn_5"></a>
                                    <div class="sub" style="left:5px;">
                                        <ul class="hechang">
                                            <li><a href="#" class="btn_7"></a></li>
                                            <li><a href="#" class="btn_8"></a></li>
                                            <li><a href="#" class="btn_9"></a></li>
                                        </ul>
                                        <div class="yinliang"><a href="#" class="btn_5 btn_04"></a></div>
                                        <div class="di"><img src="images/di.png"/></div>
                                    </div>
                                </li>
                                <li><a href="#" class="btn_6"></a><span class="num num_1">10</span>
                                    <div class="sub option_3">
                                        <div class="liedui_top">
                                            <h4 class="lie_h4">播放列队（共10首歌）</h4>
                                            <i class="delete"></i>
                                        </div>
                                        <div class="jp-playlist">
                                            <ul>
                                                <li>&nbsp;</li>
                                            </ul>
                                        </div>
                                        <div class="di di_1"><img src="images/di.png"/></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!--遮罩=====-->
<div id="fade" class="black_overlay"></div>
</body>
</html>