<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>试听首页</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../static/css/jplayer.blue.monday.css" th:href="@{/css/jplayer.blue.monday.css}"/>
    <script src="../static/js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
    <script src="../static/js/jquery.jplayer.js" th:src="@{/js/jquery.jplayer.js}"></script>
    <script src="../static/js/jplayer.playlist.js" th:src="@{/js/jplayer.playlist.js}"></script>
    <meta charset="utf-8"/>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var myPlaylist; // 播放列表
        var spotflag = false; // 当前是否插播
        var spotmusic; // 插播音乐
        var planMusicList = new Array(); // 计划歌曲列表
        var planPlayIndex = 0; // 计划的播放标志

        var personalMusicList = new Array(); // 播放音乐列表（收藏或者频道音乐）
        var personalPlayFlag = false; // 播放标志
        var personalPlayIndex = 0; // 播放歌曲下标
        var chooseVoiceFlag = false; // 选择人声标志

        var running = false;
        var success = false;

        $(document).ready(function () {
            var keyword = /*[[${keyword}]]*/;
            if(keyword != null && keyword != ""){
                queryMusic(keyword);
            }else{
                findChannel();
            }
            myPlaylist = new jPlayerPlaylist({
                jPlayer: "#jquery_jplayer_1",
                cssSelectorAncestor: "#jp_container_1"
            }, [
            ], {
                playlistOptions: {
                    autoPlay: true
                },
                swfPath: "js",
                supplied: "mp3",
                wmode: "window",
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true,
                play: function(e) {
                    console.log(e.jPlayer.status.media.title);
                    if(!spotflag){
                        if(personalPlayFlag){
                            personalPlayIndex = myPlaylist.current; // 个人播放
                        }else{
                            planPlayIndex = myPlaylist.current; // 计划播放
                        }
                    }
                },
                ended: function (e) {
                    console.log("music stop.");
                    if(spotflag){
                        spotflag = false;
                        spotmusic = null;
                        restorePlayPlan(); // 插播完恢复计划
                        if(planPlayIndex != planMusicList.length - 1){
                            myPlaylist.play(planPlayIndex + 1);
                        }else{
                            myPlaylist.play(0);
                        }
                    }else {
                        if(personalPlayFlag){
                            // 个人播放完毕
                            if(personalPlayIndex == myPlaylist.playlist.length - 1){
                                personalPlayFlag = false;
                                restorePlayPlan();
                                myPlaylist.play(planPlayIndex);
                            }
                        }else {
                            // 计划播放
                            if(planPlayIndex == myPlaylist.playlist.length - 1) {
                                if(chooseVoiceFlag){
                                    chooseVoiceFlag = false;
                                    restorePlayPlan();
                                }
                                loadPlanMusic(); // 重新加载计划
                            }
                        }
                    }
                }
            });
            loadPlanMusic();
            window.setInterval(findSpotMusic, 1000);
            window.setInterval(monitorTime, 1000);
            window.setInterval(findMessage, 1000);
        });

        /*]]>*/
    </script>
</head>
<body th:inline="text">
<!-- 店铺信息 -->
<div class="supper" style="display: none;">
    <ul class="supper_ul">
        <li th:text="|店铺地址：${config.address}|">店铺地址：太平鸟男装（北京三里屯店）</li>
        <li th:text="|营业时间：${config.businessHoursBegin} - ${config.businessHoursEnd}|">营业时间：9：00-22：00</li>
        <li th:text="|店长：${config.shopOwnerName}|">店长：王聪</li>
        <li th:text="|联系电话：${config.phoneNumber}|">联系电话：898989891</li>
    </ul>
</div>

<!-- 我的收藏 -->
<div id="myFavorite" style="display: none;">
    <div class="wdcbjh">
        <h3>收藏<br/>我喜欢的歌</h3>
    </div>
    <div class="row790">
        <div class="thead">
            <ul class="tab0">
                <li class="index" onclick="showTab(this);"><span>歌曲列表</span></li>
                <li onclick="showTab(this);"><span>频道列表</span></li>
            </ul>
        </div>
        <div class="tbody">
            <!--歌曲列表-->
            <div class="block">

            </div>
            <!--频道列表-->
            <div class="none">

            </div>
        </div>
    </div>
</div>

<!-- 查询结果 -->
<div id="queryResult" style="display: none;">
    <div class="row790">
        <div class="thead">
            <ul class="tab0">
                <li class="index"><span>歌曲列表</span></li>
            </ul>
        </div>
        <div class="tbody">
            <!--歌曲列表-->
            <div class="block">
            </div>
        </div>
    </div>
</div>

<!-- 频道列表 -->
<div id="cl" class="row790" style="display: none;">
    <div class="thead">
        <ul class="tab0">
            <li class="index" onclick="showTab(this);"><span>主题</span></li>
            <li onclick="showTab(this);"><span>风格</span><i class="redsc"></i></li>
            <li onclick="showTab(this);"><span>节日</span></li>
        </ul>
    </div>
    <div class="tbody">
        <!--主题-->
        <div class="block" id="ztc">
            <dl class="zhuti" onclick="window.location.href='/channel'">
                <dt><img src="images/img_1.jpg"/></dt>
                <dd class="icon_bg"></dd>
                <dd class="icon_dd"><i class="icon"></i><span>4万</span></dd>
                <dd class="Text">下之歌</dd>
                <dd class="Play"><img src="images/play.png"/></dd>
            </dl>
        </div>
        <!--风格-->
        <div class="none" id="fgc">
            <dl class="Style Style_xin" onclick="window.location.href='/channel'">
                <dt class="ash_mo"><a href="#"><img src="images/img_1.jpg"/></a></dt>
                <dd class="ashow"></dd>
                <dd class="Text">下之歌</dd>
            </dl>
        </div>
        <!--节日-->
        <div class="none" id="jrc">
            <dl class="zhuti" onclick="window.location.href='/channel'">
                <dt><a href="#"><img src="images/img_1.jpg"/></a></dt>
                <dd class="icon_bg"></dd>
                <dd class="icon_dd"><i class="icon"></i><span>4万</span></dd>
                <dd class="Text">下之歌</dd>
                <dd class="Play"><img src="images/play.png"/></dd>
            </dl>
        </div>
    </div>
</div>
<!-- 频道主页 -->
<div id="myChannel" style="display: none;">
    <div class="Menu">
        <dl class="zhuti_menu">
            <dt><a href="#"><img src="images/img_1.jpg"/></a></dt>
            <!--<dd class="icon_bg"></dd>-->
            <!--<dd class="icon_dd"><i class="icon"></i><span>4万</span></dd>-->
        </dl>
        <div class="Menu_you">
            <div class="Menu_p">
                <h4 class="channelName">服装促销季</h4>
                <p style="float:left; margin-top:5px;">
                    <i class="mu_1"></i><span class="num gqsl">歌曲数量</span>
                    <i class="mu_1 mu_2" style="cursor: pointer;"></i><span class="num bfcs"></span>
                </p>
                <input class="Btn_A Btn_c" type="button" value="收藏" onclick="doFavoriteChannel(this)"/>
            </div>
            <div class="sc_div">
                <div id="hutia" class="profile">
                    <i>简介：</i>这次制作的歌单是续上一歌单而制作的，每一首音乐都在一个小时以上，听起来很是享受，特别是您在行车的途中，听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐,听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐,听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐
                </div>
            </div>
        </div>
    </div>
    <div id="buyact" class="row790">
        <div class="thead">
            <ul class="tab0">
                <li class="index"><span>歌曲列表</span></li>
            </ul>
        </div>
        <div class="tbody">
            <div class="block">
                <div class="grzlk_tr">
                    <ul class="grzlk_ul">
                        <li>歌名</li>
                        <li>歌手</li>
                        <li>专辑</li>
                        <li class="w566">时长</li>
                        <li class="w566">操作</li>
                    </ul>
                    <ul class="grzlk_ul">
                        <li>Unkiss Me</li>
                        <li>Maroon 5</li>
                        <li>V (Deluxe)</li>
                        <li class="w566">04:32</li>
                        <li class="w566 w577"><a href="#" class="down_1"></a><a href="#" class="down_1 down_2"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 播放计划 -->
<div id="myPlan" style="display: none;">
    <div class="row790">
        <div class="thead">
            <ul class="tab0 tab1">
                <li class="index" onclick="showTab(this);"><span>节日计划</span></li>
                <li onclick="showTab(this);"><span>主题计划</span></li>
                <li onclick="showTab(this);"><span>风格计划</span></li>
            </ul>
        </div>
        <div class="tbody tbody_02">
            <!--节日-->
            <div class="block fesdiv">
                <div class="festival">
                    <ul class="festival_ul">
                        <li>节日</li>
                        <li>
                            <div class="select_box box_fes" onclick="findOptions(this);">
                                <span class="select_txt" style="float:left;" th:if="${not #lists.isEmpty(festivalList)}" th:text="${festivalList[0]}"></span><i class="dao_sj dao_new"></i>
                                <div class="option" id="option_fes">
                                    <a th:each="festival:${festivalList}" href="#" class="sel_jr" onclick="showOptions(this);" th:text="${festival}">
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>开始时间</li>
                        <li style="position:relative;">
                            <input class="txtBeginDate" style="width:100px;padding:5px 10px 4px 10px;border:1px solid #ccc;margin-right:10px;"/>
                        </li>
                        <li>结束时间</li>
                        <li style="position:relative;">
                            <input class="txtEndDate" style="width:100px;padding:5px 10px 4px 10px;border:1px solid #ccc;"/>
                        </li>
                        <li>
                            <input id="" type="button" value="保 存" class="Save" onclick="saveFestival(this)"/>
                        </li>
                    </ul>
                </div>
                <div class="grzlk_tr fplan">
                    <ul class="grzlk_ul grzlk_a">
                        <li>时段</li>
                        <li>时间</li>
                        <li class="xingq">日期</li>
                    </ul>
                </div>
            </div>
            <!--主题-->
            <div class="none">
                <div class="grzlk_tr tplan">
                    <ul class="grzlk_ul grzlk_a">
                        <li>时段</li>
                        <li>时间</li>
                        <li class="xingq">日期</li>
                    </ul>
                    <ul class="grzlk_ul grzlk_a">
                        <li>凌晨</li>
                        <li>00:00-06:00</li>
                        <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                    </ul>
                </div>
            </div>
            <!-- 风格 -->
            <div class="none">
                <div class="grzlk_tr mplan">
                    <ul class="grzlk_ul grzlk_a">
                        <li>时段</li>
                        <li>时间</li>
                        <li class="xingq">日期</li>
                    </ul>
                    <ul class="grzlk_ul grzlk_a">
                        <li>凌晨</li>
                        <li>00:00-06:00</li>
                        <li class="xingq">周一、周二、周日</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 插播计划 -->
<div id="mySpot" style="display: none;">
    <div class="wdcbjh">
        <h3>管理<br/>我的插播计划</h3>
    </div>
    <div class="row790">
        <div class="thead">
            <ul class="tab0">
                <li class="index" style="float: left;">
                    <span>插播列表</span>
                </li>
                <li style="float: right;">
                    <input type="button" value="保 存" class="Save" onclick="saveSpot(this);"/>
                </li>
            </ul>
        </div>
        <div class="tbody">
            <div class="grzlk_tr">
                <ul class="grzlk_ul chabo_list">
                    <li>名称</li>
                    <li>时长</li>
                    <li>播放日期</li>
                    <li>播放时间</li>
                    <li>重复时间</li>
                    <li>循环次数</li>
                </ul>
                <ul class="grzlk_ul chabo_list">
                    <li>开店口播</li>
                    <li>3:00</li>
                    <li>每天</li>
                    <li></li>
                    <li>
                        <input name="" type="text" value="09:00" class="inp_1"/>
                    </li>
                    <li>
                        <input name="" type="text" value="1" class="inp_1"/>
                    </li>
                    <li class="sx_1">
                        <input name="" type="text" value="2" class="inp_1 inp_2"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="warp">
    <!--main=========================-->
    <section>
        <!--左-->
        <aside class="left">
            <ul class="left_ul">
                <li class="details">
                    <h4>我的管理</h4>
                </li>
                <li><a href="javascript:showShop();"><s class="S_xxjs_1"></s>我的店铺</a></li>
                <li><a href="#"><s class="S_xxjs_2"></s>我的盒子</a></li>
                <li><a href="javascript:findFavorite();"><s class="S_xxjs_3"></s>我的收藏</a></li>
                <li><a href="javascript:findPlan();"><s class="S_xxjs_4"></s>播放计划</a></li>
                <li><a href="javascript:findSpot();"><s class="S_xxjs_5"></s>插播计划</a></li>
                <li class="details S_xxjs" onclick="findChannel();" style="cursor: pointer;">
                    <h4>场景业态</h4><span style="font-size: 12px;" id="downloadMessage"></span>
                </li>
                <li th:each="scene:${sceneList}">
                    <!--<s class="S_xxjs_6" th:style="'float: left; background-image: url(' + ${scene.icon} + ');'"></s>-->
                    <s class="S_xxjs_6" th:style="'float: left;'"></s>
                    <a href="#" th:onclick="'javascript:findChannel(\'' + ${scene.name} + '\');'" th:text="${scene.name}"></a>
                </li>
            </ul>
        </aside>
        <!--右-->
        <article class="right"></article>
    </section>
    <!--footer=========================-->
    <footer>
        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
            <div class="jp-type-playlist">
                <div class="jp-gui jp-interface">
                    <div class="jp-controls">
                        <button class="jp-previous" role="button" tabindex="0">previous</button>
                        <button class="jp-play" role="button" tabindex="0">play</button>
                        <button class="jp-next" role="button" tabindex="0">next</button>
                        <!---<div class="play_2">

                            <p>晨醒</p>

                        </div>-->
                    </div>
                    <div class="new_a">
                    <div style=" position: relative;width:456px;height:74px;">
                        <a href="##" class="progress_scrile"></a>
                        <div class="jp-progress">
                        <div class="jp-seek-bar">

                            <div class="jp-play-bar"></div>
                        </div>
                    </div>
                    <div class="jp-time-holder" style="font-size: 14px; color: #979797">
                        <div style="float: left;" class="jp-title"></div>
                        <div style="float: right; width: 100px;">
                            <div class="jp-current-time" role="timer" aria-label="time"></div>
                            <div style="float: left; top: 20px;">/</div>
                            <div class="jp-duration" role="timer" aria-label="duration"></div>
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="jp-volume-controls">
                        <button class="jp-mute" role="button" tabindex="0">mute</button>
                        <a href="##" class="progress_scrile scrile_video"></a>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>
                    </div>
                    <div style="position: absolute;left: 870px;top: 0px; font-size: 12px; padding: 1px;">
                        <div class="di1" id="nav">
                            <ul class="play_4_ul">
                                <li><a href="#" class="btn_5"></a>
                                    <div class="sub" style="left:5px;">
                                        <ul class="hechang">
                                            <li><a href="#" class="btn_7" onclick="playByPeople(0)"></a></li>
                                            <li><a href="#" class="btn_8" onclick="playByPeople(1)"></a></li>
                                            <li><a href="#" class="btn_9" onclick="playAllPeople()"></a></li>
                                        </ul>
                                        <div class="yinliang"><a href="#" class="btn_5 btn_04"></a></div>
                                        <div class="di"><img src="images/di.png"/></div>
                                    </div>
                                </li>
                                <li><a href="#" class="btn_6"></a><span class="num num_1">0</span>
                                    <div class="sub option_3">
                                        <div class="liedui_top">
                                            <h4 class="lie_h4">播放列队（共0首歌）</h4>
                                            <i class="delete" onclick="cleanPlaylist();"></i>
                                        </div>
                                        <div class="jp-playlist">
                                            <ul>
                                                <li>&nbsp;</li>
                                            </ul>
                                        </div>
                                        <div class="di di_1"><img src="images/di.png"/></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="play_2">
            <!--<img class="logo_sm" src="images/logo.png">-->
            <img src="images/img_1.jpg"/>
            <p>晨醒</p>

        </div>
    </footer>
</div>
<!--遮罩=====-->
<div id="fade" class="black_overlay"></div>
</body>
</html>