<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>试听首页</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../static/css/jplayer.blue.monday.css" th:href="@{/css/jplayer.blue.monday.css}"/>
    <script src="../static/js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
    <script src="../static/js/jquery.jplayer.js" th:src="@{/js/jquery.jplayer.js}"></script>
    <script src="../static/js/jplayer.playlist.js" th:src="@{/js/jplayer.playlist.js}"></script>
    <meta charset="utf-8"/>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var myPlaylist; // 播放列表
        var spotflag = false; // 当前是否插播
        var spotmusic; // 插播音乐
        var musicList = new Array(); // 歌曲列表
        var favoriteMusicList = new Array(); // 收藏音乐
        var playIndex = 0;

        function Music(id, title, mp3, duration, volume, position, favorite){
            this.id = id;
            this.title = title;
            this.mp3 = mp3;
            this.duration = duration;
            this.volume = volume;
            this.position = position;
            this.favorite = favorite;
        }

        $(document).ready(function () {
            findChannel();
            myPlaylist = new jPlayerPlaylist({
                jPlayer: "#jquery_jplayer_1",
                cssSelectorAncestor: "#jp_container_1"
            }, [
            ], {
                swfPath: "js",
                supplied: "mp3",
                wmode: "window",
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true,
                play: function(e) {
                    if(!spotflag){
                        playIndex = indexOf(musicList, e.jPlayer.status.media.title);
                    }
                },
                ended: function (e) {
                    console.log("music stop.");
                    if(spotflag){
                        spotflag = false;
                        if(playIndex != musicList.length - 1){
                            myPlaylist.setPlaylist(musicList);
                            myPlaylist.play(playIndex + 1);
                            $(".liedui_top .lie_h4").html("播放队列（共" + musicList.length + "首歌）");
                            $("#nav .num_1").html(musicList.length);
                        }else{
                            loadPlanMusic();
                        }

                    }else{
                        if(playIndex == musicList.length - 1){
                            loadPlanMusic();
                        }
                    }
                }
            });
            loadPlanMusic();
            window.setInterval(findSpotMusic, 30000);

        });

        // 清除播放列表
        function cleanPlaylist() {
            myPlaylist.remove(); // 删除所有音乐
            myPlaylist.setPlaylist({});
            musicList.slice(0, musicList.length); // 清除数组
        }

        // 加载播放计划音乐
        function loadPlanMusic() {
            $.ajax({
                type: "POST",
                url: "/planMusic",
                data: {},
                dataType: "json",
                success: function (data) {
                    cleanPlaylist();
                    for(var i = 0 ; i < data.length; i ++){
                        var music = new Music(data[i].id, data[i].musicName, data[i].path, data[i].duration, data[i].volume, 0, data[i].favorite);
                        musicList.push(music);
                        myPlaylist.add(music);
                    }
                    myPlaylist.play(0);
                    $(".liedui_top .lie_h4").html("播放队列（共" + data.length + "首歌）");
                    $("#nav .num_1").html(data.length);
                }
            });
        }

        // 加载插播音乐
        function loadSpotMusic() {
            $.ajax({
                type: "POST",
                url: "/spotMusic",
                data: {},
                dataType: "json",
                success: function (data) {
                    spotmusic = new Music(data.id, data.musicName, data.path, data.duration, data.volume, 0, data.favorite);
                }
            });
        }

        // 查找插播
        function findSpotMusic() {
            if(!spotflag){
                loadSpotMusic();
                if (typeof(spotmusic) != "undefined" && spotmusic != null) {
                    musicList[playIndex].position = $("#jquery_jplayer_1").data("jPlayer").status.currentTime; // 获取播放位置
                    myPlaylist.setPlaylist({}); // 清空播放列表
                    myPlaylist.add({
                        title: spotmusic.title,
                        mp3: spotmusic.mp3
                    });
                    myPlaylist.play(0);
                    spotflag = true;
                }
            }
        }

        // 查找店铺信息
        function showShop() {
            $(".right div").remove();
            var shop = $(".supper").clone();
            $(".right").append(shop);
            shop.css("display", "block");
        }

        // 查找收藏
        function findFavorite() {
            $.ajax({
                type: "POST",
                url: "/favorite",
                data: {},
                dataType: "json",
                success: function (data) {
                    // 歌曲收藏
                    $("#myFavorite .block").children().remove();
                    if (data.musicList.length == 0) {
                        $("#myFavorite .block").append("<div class='Wu'></div>");
                    } else {
                        var musicButtons = "<div class='sc_Btn'>";
                        musicButtons += "<input class='Btn_A playall' type='button' value='播放全部' onclick='playAll()'/>";
                        musicButtons += "</div>";
                        $("#myFavorite .block").append(musicButtons);
                        var musicDiv = $("<div></div>");
                        musicDiv.addClass("grzlk_tr");
                        musicDiv.append("<ul class='grzlk_ul grzlk_pd'><li>歌名</li><li>歌手</li><li>专辑</li><li class='w566'>时长</li>");
                        for (var i = 0; i < data.musicList.length; i++) {
                            var str = "<ul class='grzlk_ul grzlk_pd'><li>";
                            str += data.musicList[i].musicName;
                            str += "</li><li>";
                            str += data.musicList[i].actor;
                            str += "</li><li>";
                            str += data.musicList[i].special;
                            str += "</li><li class='w566'>";
                            str += data.musicList[i].duration;
                            str += "</li>";
                            musicDiv.append(str);

                            var music = new Music(data.musicList[i].id, data.musicList[i].musicName, data.musicList[i].path, data.musicList[i].duration, data.musicList[i].volume, 0, data.musicList[i].favorite);
                            favoriteMusicList.push(music);
                        }
                        musicDiv.appendTo($("#myFavorite .block"));
                    }

                    // 频道收藏
                    $("#myFavorite .none").children().remove();
                    if (data.channelList.length == 0) {
                        $("#myFavorite .none").append("<div class='Wu'></div>");
                    } else {
                        var channelButtons = "<div class='sc_Btn'>";
                        // TODO 收藏频道操作按钮
                        channelButtons += "</div>";
                        $("#myFavorite .none").append(channelButtons);
                        for (var i = 0; i < data.channelList.length; i++) {
                            var str = "<dl class='Style Style_xin' style='cursor: pointer;' onclick='findMusic(" + data.channelList[i].id + ")'>";
                            str += "<dt class='ash_mo'><a href=''><img src='" + data.channelList[i].photoPath + "'/></a></dt>";
                            str += "<dd class='ashow'></dd>";
                            str += "<dd class='Text'>" + data.channelList[i].channelName + "</dd>";
                            $("#myFavorite .none").append(str);
                        }
                    }
                    $(".right div").remove();
                    var favorite = $("#myFavorite").clone();
                    $(".right").append(favorite);
                    favorite.css("display", "block");
                }
            });
        }

        // 播放收藏音乐
        function playAll() {
            cleanPlaylist();
            favoriteMusicList.slice(0, favoriteMusicList.length);
            $(".liedui_top .lie_h4").html("播放队列（共" + favoriteMusicList.length + "首歌）");
            $("#nav .num_1").html(favoriteMusicList.length);
            myPlaylist.setPlaylist(favoriteMusicList);
            myPlaylist.play(0);
        }

        // 查找频道
        function findChannel(scene) {
            $.ajax({
                type: "POST",
                url: "/channel",
                data: {
                    scene:scene
                },
                dataType: "json",
                success: function (data) {
                    $("#ztc").children().remove(); // 主题
                    $("#fgc").children().remove(); // 风格
                    $("#jrc").children().remove(); // 节日
                    if (data.festival.length != 0) {
                        for (var i = 0; i < data.festival.length; i++) {
                            var str = "<dl class='zhuti' onmousemove='hoverIn(this)' onmouseout='hoverOut(this)' onclick='findMusic(" + data.festival[i].id + ")'>";
                            str += "<dt><a href='#'><img src='" + data.festival[i].photoPath+ "'/></a></dt>";
                            str += "<dd class='icon_bg'></dd>";
                            str += "<dd class='icon_dd'><i class='icon'></i><span>4万</span></dd>";
                            str += "<dd class='Text'>" + data.festival[i].channelName + "</dd>";
                            str += "<dd class='Play'><img src='images/play.png'/></dd>";
                            str += "</dl>";
                            $("#jrc").append(str);
                        }
                    }
                    if (data.theme.length != 0) {
                        for (var i = 0; i < data.theme.length; i++) {
                            var str = "<dl class='zhuti' onmousemove='hoverIn(this)' onmouseout='hoverOut(this)' onclick='findMusic(" + data.theme[i].id + ")'>";
                            str += "<dt><a href='#'><img src='" + data.theme[i].photoPath+ "'/></a></dt>";
                            str += "<dd class='icon_bg'></dd>";
                            str += "<dd class='icon_dd'><i class='icon'></i><span>4万</span></dd>";
                            str += "<dd class='Text'>" + data.theme[i].channelName + "</dd>";
                            str += "<dd class='Play'><img src='images/play.png'/></dd>";
                            str += "</dl>";
                            $("#ztc").append(str);
                        }
                    }

                    if (data.manner.length != 0) {
                        for (var i = 0; i < data.manner.length; i++) {
                            var str = "<dl class='Style Style_xin' onmousemove='hoverIn(this)' onmouseout='hoverOut(this)' onclick='findMusic(" + data.manner[i].id + ")'>";
                            str += "<dt class='ash_mo'><a href='#'><img src='" + data.manner[i].photoPath+ "'/></a></dt>";
                            str += "<dd class='ashow'></dd>";
                            str += "<dd class='Text'>" + data.manner[i].channelName + "</dd>";
                            str += "</dl>";
                            $("#fgc").append(str);
                        }
                    }
                    $(".right div").remove();
                    var channel = $("#cl").clone();
                    $(".right").append(channel);
                    channel.css("display", "block");
                }
            });
        }

        // 查找频道歌曲
        function findMusic(channelId) {
            $.ajax({
                type: "POST",
                url: "/music",
                data: {
                    channelId:channelId
                },
                dataType: "json",
                success: function (data) {
                    $("#myChannel .channelName").html(data.channel.channelName);
                    $("#myChannel .profile").html(data.channel.remarks);
                    $("#myChannel .Btn_c").attr("channelId", data.channel.id);
                    $("#myChannel .Btn_c").attr("favorite", data.channel.favorite);
                    if(data.channel.favorite == "0"){
                        $("#myChannel .Btn_c").val("收藏");
                    }else if(data.channel.favorite == "1"){
                        $("#myChannel .Btn_c").val("取消收藏");
                    }
                    $("#myChannel .gqsl").html(data.musicList.length);
                    $("#myChannel .zhuti_menu img").attr("src", data.channel.photoPath);
                    $("#myChannel .grzlk_tr").children().remove();
                    $("#myChannel .grzlk_tr").append("<ul class='grzlk_ul'><li>歌名</li><li>歌手</li><li>专辑</li><li class='w566'>时长</li><li class='w566'>操作</li></ul>");
                    for (var i = 0; i < data.musicList.length; i++) {
                        var str = "<ul class='grzlk_ul'>";
                        str += "<li>" + data.musicList[i].musicName + "</li>";
                        str += "<li>" + data.musicList[i].actor + "</li>";
                        str += "<li>" + data.musicList[i].special + "</li>";
                        str += "<li class='w566'>" + data.musicList[i].duration + "</li>";
                        str += "<li class='w566 w577'>";
                        if(data.musicList[i].favorite == "0"){
                            str += "<a href='#' musicId='" + data.musicList[i].id + "' favorite='" + data.musicList[i].favorite + "' onclick='doFavoriteMusic(this)' class='down_1'></a>";
                        }else if(data.musicList[i].favorite == "1"){
                            str += "<a href='#' musicId='" + data.musicList[i].id + "' favorite='" + data.musicList[i].favorite + "' onclick='doFavoriteMusic(this)' class='down_3'></a>";
                        }
                        str += "<a href='#' class='down_1 down_2'></a></li>";
                        $("#myChannel .grzlk_tr").append(str);
                    }
                    $("#myChannel .mu_2").click(function () {
                        cleanPlaylist();
                        $(".liedui_top .lie_h4").html("播放队列（共" + data.musicList.length + "首歌）");
                        $("#nav .num_1").html(data.musicList.length);
                        for (var i = 0; i < data.musicList.length; i++) {
                            var music = new Music(data.musicList[i].id, data.musicList[i].musicName, data.musicList[i].path, data.musicList[i].duration, data.musicList[i].volume, 0, data.musicList[i].favorite);
                            myPlaylist.add(music);
                        }
                        myPlaylist.play(0);
                    });
                }
            });
            $(".right div").remove();
            var channel = $("#myChannel").clone();
            $(".right").append(channel);
            channel.css("display", "block");
        }

        // 查找计划
        function findPlan() {
            $(".right div").remove();
            $.ajax({
                type: "POST",
                url: "/plan",
                data: {},
                dataType: "json",
                success: function (data) {
                    // 节日
                    $("#myPlan .select_txt").html(data.festival[0].channel.themeConcreteType);
                    $("#myPlan .txtBeginDate").val(data.festival[0].startDate);
                    $("#myPlan .txtEndDate").val(data.festival[0].endDate);
                    $("#myPlan .Save").attr("id", data.festival[0].id);
                    $("#myPlan .fplan").children().remove();
                    $("#myPlan .fplan").append("<ul class='grzlk_ul grzlk_a'><li>时段</li><li>时间</li><li class='xingq'>日期</li></ul>");
                    for(var i = 0 ; i < data.festival.length; i ++){
                        var str = "<ul class='grzlk_ul grzlk_a'>";
                        str += "<li>" + data.festival[i].timestep.timestepName + "</li>";
                        str += "<li>" + data.festival[i].timestep.starttime + " - " + data.festival[i].timestep.endtime + "</li>";
                        str += "<li class='xingq'>" + parseWeek(data.festival[i].week) + "</li>";
                        $("#myPlan .fplan").append(str);
                    }
                    // 主题
                    $("#myPlan .tplan").children().remove();
                    $("#myPlan .tplan").append("<ul class='grzlk_ul grzlk_a'><li>时段</li><li>时间</li><li class='xingq'>日期</li></ul>");
                    for(var i = 0 ; i < data.theme.length; i ++){
                        var str = "<ul class='grzlk_ul grzlk_a'>";
                        str += "<li>" + data.theme[i].timestep.timestepName + "</li>";
                        str += "<li>" + data.theme[i].timestep.starttime + " - " + data.theme[i].timestep.endtime + "</li>";
                        str += "<li class='xingq'>" + parseWeek(data.theme[i].week) + "</li>";
                        $("#myPlan .tplan").append(str);
                    }
                    // 风格
                    $("#myPlan .mplan").children().remove();
                    $("#myPlan .mplan").append("<ul class='grzlk_ul grzlk_a'><li>时段</li><li>时间</li><li class='xingq'>日期</li></ul>");
                    for(var i = 0 ; i < data.manner.length; i ++){
                        var str = "<ul class='grzlk_ul grzlk_a'>";
                        str += "<li>" + data.manner[i].timestep.timestepName + "</li>";
                        str += "<li>" + data.manner[i].timestep.starttime + " - " + data.manner[i].timestep.endtime + "</li>";
                        str += "<li class='xingq'>" + parseWeek(data.manner[i].week) + "</li>";
                        $("#myPlan .mplan").append(str);
                    }
                }
            });
            var plan = $("#myPlan").clone();
            $(".right").append(plan);
            plan.css("display", "block");
        }

        // 查找插播计划
        function findSpot() {
            $(".right div").remove();
            $.ajax({
                type: "POST",
                url: "/spotPlan",
                data: {},
                dataType: "json",
                success: function (data) {
                    $("#mySpot .grzlk_tr").children().remove();
                    $("#mySpot .grzlk_tr").append("<ul class='grzlk_ul chabo_list'><li>名称</li><li>时长</li><li style='width: 200px;'>播放日期</li><li>播放时间</li><li>重复时间</li><li>循环次数</li></ul>");
                    for(var i = 0 ; i < data.length; i ++){
                        var str = "<ul class='grzlk_ul chabo_list'>";
                        str += "<li>" + data[i].playName+ "</li>";
                        str += "<li>" + data[i].channel.musicList[0].duration + "</li>";
                        str += "<li style='width: 200px;'>" + data[i].startDate + " - " + data[i].endDate + "</li>";
                        str += "<li><input type='text' value='" + data[i].timestep.starttime + "' class='inp_1'/></li>";
                        str += "<li><input type='text' value='" + data[i].intervalTime + "' class='inp_1 inp_2'/></li>";
                        str += "<li><input type='text' value='" + data[i].cycleTimes + "' class='inp_1 inp_2'/></li>";
                        str += "</ul>";
                        $("#mySpot .grzlk_tr").append(str);
                    }
                }
            });

            var spot = $("#mySpot").clone();
            $(".right").append(spot);
            spot.css("display", "block");
        }

        // 收藏频道
        function doFavoriteChannel(obj) {
            var favorite = $(obj).attr("favorite");
            if(favorite == "0"){
                $.ajax({
                    type: "POST",
                    url: "/doFavoriteChannel",
                    data: {
                        channelId : $(obj).attr("channelId")
                    },
                    dataType: "json",
                    success: function () {}
                });
                $(obj).val("取消收藏");
                $(obj).attr("favorite", "1");
            }else if(favorite == "1"){
                $.ajax({
                    type: "POST",
                    url: "/doNotFavoriteChannel",
                    data: {
                        channelId : $(obj).attr("channelId")
                    },
                    dataType: "json",
                    success: function () {}
                });
                $(obj).val("收藏");
                $(obj).attr("favorite", "0");
            }
        }

        function doFavoriteMusic(obj) {
            var favorite = $(obj).attr("favorite");
            if(favorite == "0"){
                $.ajax({
                    type: "POST",
                    url: "/doFavoriteMusic",
                    data: {
                        musicId : $(obj).attr("musicId")
                    },
                    dataType: "json",
                    success: function () {}
                });
                $(obj).attr("favorite", "1");
                $(obj).attr("class", "down_3");
            }else if(favorite == "1"){
                $.ajax({
                    type: "POST",
                    url: "/doNotFavoriteMusic",
                    data: {
                        musicId : $(obj).attr("musicId")
                    },
                    dataType: "json",
                    success: function () {}
                });
                $(obj).attr("favorite", "0");
                $(obj).attr("class", "down_1");
            }
        }

        /*]]>*/
    </script>
</head>
<body th:inline="text">
<!-- 店铺信息 -->
<div class="supper" style="display: none;">
    <ul class="supper_ul">
        <li th:text="|店铺地址：${config.address}|">店铺地址：太平鸟男装（北京三里屯店）</li>
        <li th:text="|营业时间：${config.businessHoursBegin} - ${config.businessHoursEnd}|">营业时间：9：00-22：00</li>
        <li th:text="|店长：${config.shopOwnerName}|">店长：王聪</li>
        <li th:text="|联系电话：${config.phoneNumber}|">联系电话：898989891</li>
    </ul>
</div>

<!-- 我的收藏 -->
<div id="myFavorite" style="display: none;">
    <div class="wdcbjh">
        <h3>收藏<br/>我喜欢的歌</h3>
    </div>
    <div class="row790">
        <div class="thead">
            <ul class="tab0">
                <li class="index" onclick="showTab(this);"><span>歌曲列表</span></li>
                <li onclick="showTab(this);"><span>频道列表</span></li>
            </ul>
        </div>
        <div class="tbody">
            <!--歌曲列表-->
            <div class="block">

            </div>
            <!--频道列表-->
            <div class="none">

            </div>
        </div>
    </div>
</div>
<!-- 频道列表 -->
<div id="cl" class="row790" style="display: none;">
    <div class="thead">
        <ul class="tab0">
            <li class="index" onclick="showTab(this);"><span>主题</span></li>
            <li onclick="showTab(this);"><span>风格</span><i class="redsc"></i></li>
            <li onclick="showTab(this);"><span>节日</span></li>
        </ul>
    </div>
    <div class="tbody">
        <!--主题-->
        <div class="block" id="ztc">
            <dl class="zhuti" onclick="window.location.href='/channel'">
                <dt><img src="images/img_1.jpg"/></dt>
                <dd class="icon_bg"></dd>
                <dd class="icon_dd"><i class="icon"></i><span>4万</span></dd>
                <dd class="Text">下之歌</dd>
                <dd class="Play"><img src="images/play.png"/></dd>
            </dl>
        </div>
        <!--风格-->
        <div class="none" id="fgc">
            <dl class="Style Style_xin" onclick="window.location.href='/channel'">
                <dt class="ash_mo"><a href="#"><img src="images/img_1.jpg"/></a></dt>
                <dd class="ashow"></dd>
                <dd class="Text">下之歌</dd>
            </dl>
        </div>
        <!--节日-->
        <div class="none" id="jrc">
            <dl class="zhuti" onclick="window.location.href='/channel'">
                <dt><a href="#"><img src="images/img_1.jpg"/></a></dt>
                <dd class="icon_bg"></dd>
                <dd class="icon_dd"><i class="icon"></i><span>4万</span></dd>
                <dd class="Text">下之歌</dd>
                <dd class="Play"><img src="images/play.png"/></dd>
            </dl>
        </div>
    </div>
</div>
<!-- 频道主页 -->
<div id="myChannel" style="display: none;">
    <div class="Menu">
        <dl class="zhuti_menu">
            <dt><a href="#"><img src="images/img_1.jpg"/></a></dt>
            <!--<dd class="icon_bg"></dd>-->
            <!--<dd class="icon_dd"><i class="icon"></i><span>4万</span></dd>-->
        </dl>
        <div class="Menu_you">
            <div class="Menu_p">
                <h4 class="channelName">服装促销季</h4>
                <p style="float:left; margin-top:5px;">
                    <i class="mu_1"></i><span class="num gqsl">歌曲数量</span>
                    <i class="mu_1 mu_2" style="cursor: pointer;"></i><span class="num bfcs"></span>
                </p>
                <input class="Btn_A Btn_c" type="button" value="收藏" onclick="doFavoriteChannel(this)"/>
            </div>
            <div class="sc_div">
                <div id="hutia" class="profile">
                    <i>简介：</i>这次制作的歌单是续上一歌单而制作的，每一首音乐都在一个小时以上，听起来很是享受，特别是您在行车的途中，听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐,听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐,听到这些音乐听到这些音乐听到这些音乐听到这些音乐听到这些音乐
                </div>
            </div>
        </div>
    </div>
    <div id="buyact" class="row790">
        <div class="thead">
            <ul class="tab0">
                <li class="index"><span>歌曲列表</span></li>
            </ul>
        </div>
        <div class="tbody">
            <div class="block">
                <div class="grzlk_tr">
                    <ul class="grzlk_ul">
                        <li>歌名</li>
                        <li>歌手</li>
                        <li>专辑</li>
                        <li class="w566">时长</li>
                        <li class="w566">操作</li>
                    </ul>
                    <ul class="grzlk_ul">
                        <li>Unkiss Me</li>
                        <li>Maroon 5</li>
                        <li>V (Deluxe)</li>
                        <li class="w566">04:32</li>
                        <li class="w566 w577"><a href="#" class="down_1"></a><a href="#" class="down_1 down_2"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 播放计划 -->
<div id="myPlan" style="display: none;">
    <div class="row790">
        <div class="thead">
            <ul class="tab0 tab1">
                <li class="index" onclick="showTab(this);"><span>节日计划</span></li>
                <li onclick="showTab(this);"><span>主题计划</span></li>
                <li onclick="showTab(this);"><span>风格计划</span></li>
            </ul>
        </div>
        <div class="tbody tbody_02">
            <!--节日-->
            <div class="block fesdiv">
                <div class="festival">
                    <ul class="festival_ul">
                        <li>节日</li>
                        <li>
                            <div class="select_box box_fes" onclick="findOptions(this);">
                                <span class="select_txt" style="float:left;" th:if="${not #lists.isEmpty(festivalList)}" th:text="${festivalList[0]}"></span><i class="dao_sj dao_new"></i>
                                <div class="option" id="option_fes">
                                    <a th:each="festival:${festivalList}" href="#" class="sel_jr" onclick="showOptions(this);" th:text="${festival}">
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>开始时间</li>
                        <li style="position:relative;">
                            <input class="txtBeginDate" style="width:100px;padding:5px 10px 4px 10px;border:1px solid #ccc;margin-right:10px;"/>
                        </li>
                        <li>结束时间</li>
                        <li style="position:relative;">
                            <input class="txtEndDate" style="width:100px;padding:5px 10px 4px 10px;border:1px solid #ccc;"/>
                        </li>
                        <li>
                            <input id="" type="button" value="保存" class="Save" onclick="saveFestival(this)"/>
                        </li>
                    </ul>
                </div>
                <div class="grzlk_tr fplan">
                    <ul class="grzlk_ul grzlk_a">
                        <li>时段</li>
                        <li>时间</li>
                        <li class="xingq">日期</li>
                    </ul>
                </div>
            </div>
            <!--主题-->
            <div class="none">
                <div class="grzlk_tr tplan">
                    <ul class="grzlk_ul grzlk_a">
                        <li>时段</li>
                        <li>时间</li>
                        <li class="xingq">日期</li>
                    </ul>
                    <ul class="grzlk_ul grzlk_a">
                        <li>凌晨</li>
                        <li>00:00-06:00</li>
                        <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                    </ul>
                </div>
            </div>
            <!-- 风格 -->
            <div class="none">
                <div class="grzlk_tr mplan">
                    <ul class="grzlk_ul grzlk_a">
                        <li>时段</li>
                        <li>时间</li>
                        <li class="xingq">日期</li>
                    </ul>
                    <ul class="grzlk_ul grzlk_a">
                        <li>凌晨</li>
                        <li>00:00-06:00</li>
                        <li class="xingq">周一、周二、周日</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 插播计划 -->
<div id="mySpot" style="display: none;">
    <div class="wdcbjh">
        <h3>管理<br/>我的插播计划</h3>
    </div>
    <div class="row790">
        <div class="thead">
            <ul class="tab0">
                <li class="index"><span>插播列表</span></li>
            </ul>
        </div>
        <div class="tbody">
            <div class="grzlk_tr">
                <ul class="grzlk_ul chabo_list">
                    <li>名称</li>
                    <li>时长</li>
                    <li>播放日期</li>
                    <li>播放时间</li>
                    <li>重复时间</li>
                    <li>循环次数</li>
                </ul>
                <ul class="grzlk_ul chabo_list">
                    <li>开店口播</li>
                    <li>3:00</li>
                    <li>每天</li>
                    <li></li>
                    <li>
                        <input name="" type="text" value="09:00" class="inp_1"/>
                    </li>
                    <li>
                        <input name="" type="text" value="1" class="inp_1"/>
                    </li>
                    <li class="sx_1">
                        <input name="" type="text" value="2" class="inp_1 inp_2"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="warp">
    <!--main=========================-->
    <section>
        <!--左-->
        <aside class="left">
            <ul class="left_ul">
                <li class="details">
                    <h4>我的管理</h4>
                </li>
                <li><a href="javascript:showShop();"><s class="S_xxjs_1"></s>我的店铺</a></li>
                <li><a href="#"><s class="S_xxjs_2"></s>我的盒子</a></li>
                <li><a href="javascript:findFavorite();"><s class="S_xxjs_3"></s>我的收藏</a></li>
                <li><a href="javascript:findPlan();"><s class="S_xxjs_4"></s>播放计划</a></li>
                <li><a href="javascript:findSpot();"><s class="S_xxjs_5"></s>插播计划</a></li>
                <li class="details S_xxjs" onclick="findChannel();" style="cursor: pointer;">
                    <h4>场景业态</h4>
                </li>
                <li th:each="scene:${sceneList}">
                    <s class="S_xxjs_6" th:style="'float: left; background-image: url(' + ${scene.icon} + ');'"></s>
                    <a href="#" th:onclick="'javascript:findChannel(\'' + ${scene.name} + '\');'" th:text="${scene.name}"></a>
                </li>
            </ul>
        </aside>
        <!--右-->
        <article class="right"></article>
    </section>
    <!--footer=========================-->
    <footer>
        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
            <div class="jp-type-playlist">
                <div class="jp-gui jp-interface">
                    <div class="jp-controls">
                        <button class="jp-previous" role="button" tabindex="0">previous</button>
                        <button class="jp-play" role="button" tabindex="0">play</button>
                        <button class="jp-next" role="button" tabindex="0">next</button>
                    </div>
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>
                    <div class="jp-time-holder" style="font-size: 14px; color: #979797">
                        <div style="float: left;" class="jp-title"></div>
                        <div style="float: right; width: 100px;">
                            <div class="jp-current-time" role="timer" aria-label="time"></div>
                            <div style="float: left; top: 20px;">/</div>
                            <div class="jp-duration" role="timer" aria-label="duration"></div>
                        </div>
                    </div>
                    <div class="jp-volume-controls">
                        <button class="jp-mute" role="button" tabindex="0">mute</button>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>
                    </div>
                    <div style="position: absolute;left: 870px;top: 0px; font-size: 12px; padding: 1px;">
                        <div class="di1" id="nav">
                            <ul class="play_4_ul">
                                <li><a href="#" class="btn_5"></a>
                                    <div class="sub" style="left:5px;">
                                        <ul class="hechang">
                                            <li><a href="#" class="btn_7"></a></li>
                                            <li><a href="#" class="btn_8"></a></li>
                                            <li><a href="#" class="btn_9"></a></li>
                                        </ul>
                                        <div class="yinliang"><a href="#" class="btn_5 btn_04"></a></div>
                                        <div class="di"><img src="images/di.png"/></div>
                                    </div>
                                </li>
                                <li><a href="#" class="btn_6"></a><span class="num num_1">0</span>
                                    <div class="sub option_3">
                                        <div class="liedui_top">
                                            <h4 class="lie_h4">播放列队（共0首歌）</h4>
                                            <i class="delete" onclick="cleanPlaylist();"></i>
                                        </div>
                                        <div class="jp-playlist">
                                            <ul>
                                                <li>&nbsp;</li>
                                            </ul>
                                        </div>
                                        <div class="di di_1"><img src="images/di.png"/></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!--遮罩=====-->
<div id="fade" class="black_overlay"></div>
</body>
</html>