<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>试听首页</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="../static/js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
    <script src="../static/js/lyz.calendar.min.js" th:src="@{/js/lyz.calendar.min.js}"></script>
    <meta charset="utf-8"/>
    <script>
        // 日历插件   这段js放到index.js 插播计划的增减就没变化了，有冲突，单独放在这里没问题，
        $(function () {
            $("#txtBeginDate").calendar({
                controlId: "divDate",                       // 弹出的日期控件ID，默认: $(this).attr("id") + "Calendar"
                speed: 200,                                 // 三种预定速度之一的字符串("slow", "normal", or "fast")或表示动画时长的毫秒数值(如：1000),默认：200
                complement: true,                           // 是否显示日期或年空白处的前后月的补充,默认：true
                readonly: true,                             // 目标对象是否设为只读，默认：true
                //upperLimit: new Date(),                   // 日期上限，默认：NaN(不限制)
                lowerLimit: new Date("2011/01/01"),         // 日期下限，默认：NaN(不限制)
                //callback: function () {                   // 点击选择日期后的回调函数
                //alert("您选择的日期是：" + $("#txtBeginDate").val());
                //}
            });
            $("#txtEndDate").calendar();

            new jPlayerPlaylist({
                jPlayer: "#jquery_jplayer_1",
                cssSelectorAncestor: "#jp_container_1"
            }, [
                {
                    title: "Cro Magnon Man",
                    mp3: "http://127.0.0.1:9000/CloudMusic/李逸朗 - 化身孤岛的鲸.mp3",
                    duration: "4:28"
                },
                {
                    title: "Your Face",
                    mp3: "http://127.0.0.1:9000/CloudMusic/李逸朗 - 化身孤岛的鲸.mp3",
                    duration: "4:35"
                },
                {
                    title: "Your Face",
                    mp3: "http://127.0.0.1:9000/CloudMusic/李逸朗 - 化身孤岛的鲸.mp3",
                    duration: "4:35"
                }
            ], {
                swfPath: "js",
                supplied: "oga, mp3",
                wmode: "window",
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true
            });
        });

    </script>
</head>
<body>
<div class="warp">
    <!--main=========================-->
    <section>
        <!--左-->
        <aside class="left">
            <ul class="left_ul">
                <li class="details">
                    <h4>我的管理</h4>
                </li>
                <li><a href="#" th:href="@{/myshop}"><s class="S_xxjs_1"></s>我的店铺</a></li>
                <li><a href="#"><s class="S_xxjs_2"></s>我的盒子</a></li>
                <li><a href="#" th:href="@{/favorite}"><s class="S_xxjs_3"></s>我的收藏</a></li>
                <li><a href="#" th:href="@{/plan}"><s class="S_xxjs_4"></s>播放计划</a></li>
                <li><a href="#" th:href="@{/spot}"><s class="S_xxjs_5"></s>插播计划</a></li>
                <li class="details">
                    <h4>场景业态</h4>
                </li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_6"></s>购物中心</a></li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_7"></s>超市</a></li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_8"></s>餐饮</a></li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_9"></s>服饰</a></li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_10"></s>酒店</a></li>
                <li><a href="#" th:href="@{/}"><s class="S_xxjs_11"></s>奢侈品</a></li>
            </ul>
        </aside>
        <!--右-->
        <article class="right">
            <div id="buyact" class="row790">
                <div class="thead">
                    <ul class="tab0 tab1">
                        <li class="index"><span>节日计划</span></li>
                        <li><span>主题计划</span></li>
                        <li><span>风格计划</span></li>
                    </ul>
                </div>
                <div class="tbody tbody_02">
                    <!--主题-->
                    <div class="block">
                        <div class="festival">
                            <ul class="festival_ul">
                                <li>节日</li>
                                <li>
                                    <div class="select_box box_fes">
                                        <span class="select_txt" style=" float:left;">圣诞节</span><i class="dao_sj dao_new"></i>
                                        <div class="option" id="option_fes"><a href="##" class="sel_jr">新年</a><a
                                                href="##" class="sel_jr">七夕</a> <a href="##" class="sel_jr">春节</a><a
                                                href="##" class="sel_jr">中秋节</a> <a href="##" class="sel_jr">情人节</a><a
                                                href="##" class="sel_jr">教师节</a> <a href="##" class="sel_jr">愚人节</a><a
                                                href="##" class="sel_jr">国庆节</a> <a href="##" class="sel_jr">劳动节</a><a
                                                href="##" class="sel_jr">万圣节</a> <a href="##" class="sel_jr">母亲节</a><a
                                                href="##" class="sel_jr">感恩节</a> <a href="##" class="sel_jr">儿童节</a><a
                                                href="##" class="sel_jr">圣诞节</a> <a href="##" class="sel_jr">父亲节</a><a
                                                href="##" class="sel_jr">生日</a></div>
                                    </div>
                                </li>
                                <li>开始时间</li>
                                <li style=" position:relative;">
                                    <input id="txtBeginDate"
                                           style="width:100px;padding:5px 10px 4px 10px;border:1px solid #ccc;margin-right:10px;"/>
                                    <i class="dao_sj dao_1"></i></li>
                                <li>结束时间</li>
                                <li style=" position:relative;">
                                    <input id="txtEndDate"
                                           style="width:100px;padding:5px 10px 4px 10px;border:1px solid #ccc;"/>
                                    <i class="dao_sj dao_1"></i></li>
                                <li>
                                    <input name="" type="button" value="保存" class="Save"/>
                                </li>
                            </ul>
                        </div>
                        <div class="grzlk_tr">
                            <ul class="grzlk_ul grzlk_a">
                                <li>时段</li>
                                <li>时间</li>
                                <li class="xingq">日期</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>凌晨</li>
                                <li>00:00-06:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>晨醒</li>
                                <li>06:00-09:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>上午</li>
                                <li>09:00-11:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>中午</li>
                                <li>11:00-14:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>下午</li>
                                <li>14:00-17:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>日落</li>
                                <li>17:00-20:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>晚间</li>
                                <li>20:00-22:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>午夜</li>
                                <li>22:00-24:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                        </div>
                    </div>

                    <!--风格-->
                    <div class="none">
                        <div class="grzlk_tr">
                            <ul class="grzlk_ul grzlk_a">
                                <li>时段</li>
                                <li>时间</li>
                                <li class="xingq">日期</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>凌晨</li>
                                <li>00:00-06:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>晨醒</li>
                                <li>06:00-09:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>上午</li>
                                <li>09:00-11:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>中午</li>
                                <li>11:00-14:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>下午</li>
                                <li>14:00-17:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>日落</li>
                                <li>17:00-20:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>晚间</li>
                                <li>20:00-22:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>午夜</li>
                                <li>22:00-24:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                        </div>
                    </div>
                    <div class="none">
                        <div class="grzlk_tr">
                            <ul class="grzlk_ul grzlk_a">
                                <li>时段</li>
                                <li>时间</li>
                                <li class="xingq">日期</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>凌晨</li>
                                <li>00:00-06:00</li>
                                <li class="xingq">周一、周二、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>晨醒</li>
                                <li>06:00-09:00</li>
                                <li class="xingq">周一、周二、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>上午</li>
                                <li>09:00-11:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>中午</li>
                                <li>11:00-14:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>下午</li>
                                <li>14:00-17:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>日落</li>
                                <li>17:00-20:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>晚间</li>
                                <li>20:00-22:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                            <ul class="grzlk_ul grzlk_a">
                                <li>午夜</li>
                                <li>22:00-24:00</li>
                                <li class="xingq">周一、周二、周三、周四、周五、周六、周日</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <!--footer=========================-->
    <footer>
        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
            <div class="jp-type-playlist">
                <div class="jp-gui jp-interface">
                    <div class="jp-controls">
                        <button class="jp-previous" role="button" tabindex="0">previous</button>
                        <button class="jp-play" role="button" tabindex="0">play</button>
                        <button class="jp-next" role="button" tabindex="0">next</button>
                    </div>
                    <div style="position: absolute;left: 210px;top: 0px; font-size: 12px; padding: 1px;">
                        <dl class="play_2_dl">
                            <dt>
                                <img class="tx_img" src="images/img_1.jpg" style="width: 52px; height: 52px;"/>
                            </dt>
                            <dt>晨醒</dt>
                        </dl>
                    </div>
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>
                    <div class="jp-time-holder" style="font-size: 14px; color: #979797">
                        <div style="float: left;">Hostital flowers--中文 City</div>
                        <div style="float: right; width: 100px;">
                            <div class="jp-current-time" role="timer" aria-label="time"></div>
                            <div style="float: left; top: 20px;">/</div>
                            <div class="jp-duration" role="timer" aria-label="duration"></div>
                        </div>
                    </div>
                    <div class="jp-volume-controls">
                        <button class="jp-mute" role="button" tabindex="0">mute</button>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>
                    </div>
                    <div style="position: absolute;left: 870px;top: 0px; font-size: 12px; padding: 1px;">
                        <div class="di1" id="nav">
                            <ul class="play_4_ul">
                                <li><a href="#" class="btn_5"></a>
                                    <div class="sub" style="left:5px;">
                                        <ul class="hechang">
                                            <li><a href="#" class="btn_7"></a></li>
                                            <li><a href="#" class="btn_8"></a></li>
                                            <li><a href="#" class="btn_9"></a></li>
                                        </ul>
                                        <div class="yinliang"><a href="#" class="btn_5 btn_04"></a></div>
                                        <div class="di"><img src="images/di.png"/></div>
                                    </div>
                                </li>
                                <li><a href="#" class="btn_6"></a><span class="num num_1">10</span>
                                    <div class="sub option_3">
                                        <div class="liedui_top">
                                            <h4 class="lie_h4">播放列队（共10首歌）</h4>
                                            <i class="delete"></i>
                                        </div>
                                        <div class="jp-playlist">
                                            <ul>
                                                <li>&nbsp;</li>
                                            </ul>
                                        </div>
                                        <div class="di di_1"><img src="images/di.png"/></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!--遮罩=====-->
<div id="fade" class="black_overlay"></div>
</body>
</html>